
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
  color: black;
  text-decoration: none;
}
html{
  font-size: calc(1.3vw + 5px);
  font-family: sans-serif;
}




/*HEADER*/
header{
  display: flex;
  padding: 2vw 2vw;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f08e;
  font-family: 'comfortaa';
}
header input{
    font-size: 0.6rem;
    border: 2px rgb(161, 161, 0) solid ;
    border-radius: 10vw;
    padding: 1vw;
    font-family: 'comfortaa';
}

header input:hover{
  border: 2px black solid;
  transition: 0.2s;
}

header ul{
  display: flex;
  align-items: center;
}
header ul.ulPrincipal li{
  margin: 0 2vw;
  font-size: 0.6rem;
  padding: 0.5vw 1vw;
  cursor: pointer;
  border-radius: 2vw;
  width: 15%;
  text-align: center;
}
header ul.ulPrincipal li:hover{
  background-color: rgb(214, 214, 1);
  transition: 0.3s;
}
header ul.ulPrincipal li:first-child{
  margin-left: 0;
}
header ul.ulPrincipal li:last-child{
    margin-right: 5vw;
}
header ul.icon li:nth-child(2){
    margin: 2vw ;
}
header ul.icon li{
    font-size: 0.8rem;
    padding:0.5vw 1vw ;
    border-radius: 2vw;
    cursor: pointer;
}

header ul.icon li:hover{
  background-color: rgb(214, 214, 1);
  transition: 0.3s;
}

/*Pesquisar*/
.pesquisar {
  position: relative;
  display: inline-block;
}

.pesquisar input {
  width: 10vw;
  padding: 0.7vw; 
  border: 2px solid #ccc;
  border-radius: 20vw;
  font-size: 16px;
  outline: none;
}



.pesquisar span {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 20px;
  pointer-events: none;
}

